# fastapi
# uvicorn
# sqlalchemy
# psycopg2-binary
# python-dotenv
# # requests
# # httpx
# jinja2
# httpx
# fastapi
# uvicorn
# sqlalchemy
# psycopg2-binary
# python-dotenv
# httpx
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
httpx
gspread
google-auth
# google-generativeai
fpdf2
# google-genai
fpdf2
google-generativeai
BackgroundTasks